body {
    max-width: 100%;
    padding: 3px;
    font-size: 100%;
}

.container {
    padding: 10px;
}

p {
    font-family: sans-serif;
}

/*nav bar*/
nav {
    background-color: rgb(239, 241, 245);
    padding: 15px 3px 5px;
    text-align: right;
}

/*timer*/
#stopwatch {
    padding: 7px 4px;
}

#timer {
    background-color: #E6EEF0;
    margin: auto;
    border-radius: 5px;
}

p.clock {
    text-align: center;
    font-size: 2.2em;
}

.buttons {
    max-width: 70%;
    margin: auto;
    text-align: center;
}

/*records*/
.records {
    font-size: 0.8em;
}

#record-form {
    font-size: 0.8em;
}

form div {
    padding: 4px;
}

.records-nav {
    float: right;
    padding-top: 2%;
}

.recent {
    padding: 5px 8px 3px;
}

#nav-buttons {
    display: inline-block;
}

.btn-primary {
    background-color: #2D3047 !important
}

#records-container {
    height: 200px; 
    overflow: auto;
}

#header-row div {
    padding: 0.25em;
}

#quick-filters {
    padding: 0.4em;
    overflow: auto;
    white-space: nowrap;

  /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#quick-filters button {
    border-radius: 24px;
    font-size: 0.9em;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
#quick-filters::-webkit-scrollbar {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
#manual-time-input input::-webkit-outer-spin-button,
#manual-time-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#manual-time-input input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}