{{define "content"}}

<div id="add-user-box" class="container">
    <form action="/add-user" method="post" class="row g-1">
        <div class="row">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control form-control-sm" value="{{.Username}}"/>
        </div>
        <div class="row">
            <label for="pwd">Password</label>
            <input type="password" id="password" name="password" class="form-control form-control-sm" value=""/>
        </div>
        <div class="row">
            <label for="pwd">Confirm password</label>
            <input type="password" id="confirm-password" name="confirm-password" class="form-control form-control-sm" value=""/>
        </div>
        <div class="row-2 g-1">
            <input class="btn btn-primary" type="submit" value="Add user"/>
        </div>
    </form>
</div>

{{end}}