{{define "content"}}
		<section>
			<div id="stopwatch" name="stopwatch">
				<div id="timer" name="timer"><p class="clock">00:00:00.00</p></div>
				<div id="buttons" name="buttons" class="buttons">
					<input id="start-button" class="btn btn-primary" type="button" onclick="start()" value="Start">
					<input id="continue-button" class="btn btn-primary" type="button" style="display: none" onclick="continueTimer()" value="Continue">
					<input id="pause-button" class="btn btn-primary" type="button" style="display: none" onclick="pause()" value="Pause">
					<input id="stop-button" class="btn btn-primary" type="button" onclick="stop()" value="Stop">
					<input id="reset-button" class="btn btn-primary" type="button" style="display: none" onclick="reset()" value="Reset">
				</div> 
			</div>
			<div id="record-form" class="container" style="display: none">
				<form method="post" class="row g-1 align-items-end">
						<input type="hidden" id="ticker-time" name="ticker-time" value="">
						<div class="col">
							<label for="form-date">Date</label>
							<input type="date" id="form-date" name="form-date" class="form-control form-control-sm"/>
						</div>
						<div class="col-2">
							<label for="distance">Distance</label>
							<input type="text" id="distance" name="distance" class="form-control form-control-sm"/>
						</div>
						<div class="col">
							<select id="distance-unit" name="distance-unit" class="form-select form-select-sm">
								<option value="Mi" selected>Miles</option>
								<option value="Km">Km</option>
							</select>
						</div>
						<div class="col">
							<select id="completed-by" class="form-select form-select-sm">
								<option value="Bike" selected>Bike</option>
								<option value="Running">Running</option>
							</select>
						</div>
						<div class="col">
							<input class="btn btn-primary btn-sm" type="submit" value="Submit"/>
						</div>
				</form>
			</div>
		</section>
{{end}}

{{define "script"}}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script>
		function padTime(ms) {
			if (ms) {
				paddedTime = String(ms).padStart(2, '0');
				return paddedTime;
			} else {
				return "00";
			}		
		}
		
		function displayTime(ms) {
			hr = Math.floor(ms/3600000);
			min = Math.floor(ms/60000) % 60;
			sec = Math.floor(ms/1000) % 60;
			milliSec = Math.floor(ms/10) % 100;
			hrPad = padTime(hr)
			minPad = padTime(min)
			secPad = padTime(sec)
			milliSecPad = padTime(milliSec)

			return hrPad + ":" + minPad + ":" + secPad + "." + milliSecPad
		}

		var dispElapsed
		var msElapsed

		function startTimer(startTime) {
			msElapsed = Date.now() - startTime;
			dispElapsed = displayTime(msElapsed);
			document.querySelector('.clock').textContent = dispElapsed;
		}		
		
		function start(msElapsed = 0) {
			startTime = Date.now() - msElapsed
			createClock = setInterval(startTimer, 10, startTime);
			document.querySelector('#reset-button').style.display = "inline";
			document.querySelector('#pause-button').style.display = "inline";
			document.querySelector('#start-button').style.display = "none";
		}

		function stop() {
			clearInterval(createClock);
			document.querySelector('#record-form').style.display = "inline";
			let formTime = document.querySelector("input[id='ticker-time']")
			formTime.value = dispElapsed
		}
		
		function reset() {
			msElapsed = 0
			document.querySelector('#start-button').style.display = "inline";
			document.querySelector('#pause-button').style.display = "none";
			document.querySelector('#continue-button').style.display = "none";
			document.querySelector('.clock').textContent = "00:00:00.00";
			document.querySelector('#record-form').style.display = "none";
		}

		function pause() {
			stop();
			//console.log(msElapsed);
			document.querySelector('#continue-button').style.display = "inline";
			document.querySelector('#pause-button').style.display = "none";
		}

		function continueTimer() {
			start(msElapsed);
			document.querySelector('#continue-button').style.display = "none";
			document.querySelector('#record-form').style.display = "none";

		}

		// set current date on form
		let currentDate = new Date().toISOString().slice(0,10);
		let formDate = document.querySelector("input[id='form-date']");
		formDate.value = currentDate;
	  
    </script>
{{end}}