{{define "content"}}	
		<section>
			<div id="records" class="container-fluid-sm records">
				<div id="quick-filters">
					<button id="past-week" type="button" class="btn btn-outline-secondary btn-sm">Past 7 days</button>
					<button id="past-month" type="button" class="btn btn-outline-secondary btn-sm">Past 31 days</button>
					<button id="bike-filter" type="button" class="btn btn-outline-secondary btn-sm">Bike</button>
					<button id="running-filter" type="button" class="btn btn-outline-secondary btn-sm">Running</button>
				</div>

				<div id="table-headers" class="container-fluid-sm p-1">
					<div id="header-row" class="row px-2">
						<div class="col p-1">
							Date
						</div>
						<div class="col p-1">
							Time
						</div>
						<div class="col p-1">
							Distance
						</div>
						<div class="col-2 p-1">
							By
						</div>
					</div>
				</div>

				<div id="records-container" class="table-responsive">
					<table id="records-table" class="table table-sm table-striped records">
						<col style="width:26%">
						<col style="width:25%">
						<col style="width:24%">
						<col style="width:15%">
						<tbody>
							{{range .RecordList}}
							<tr>
								<td>{{.Date}}</td>
								<td>{{.Time}}</td>
								<td>{{.Distance}} {{.DistanceUnit}}</td>
								<td>{{.By}}</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
			</div>
		</section>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	<script type="module">
		import {FilterButton} from './static/script/filter-button.js'
		import {renderRecordsTable, filterTableByText, filterDate} from './static/script/filter-records.js'
		import {addDays, getOffsetCurrentDate, convertToISODate, dateStrToISODateFormat} from './static/script/date-helpers.js'

		async function fetchRecords(url) {
			const response = await fetch(url);
			return response.json();
		}

		const baseUrl = "http://localhost:8000";
		const currentDateOffset = convertToISODate(getOffsetCurrentDate());
		let url = encodeURI(`${baseUrl}/records/filter?from=1900-01-01&to=${currentDateOffset}&ord=desc&col=Date`);
		let originalJsonData = []

		fetchRecords(url)
		.then((results) => {
			renderRecordsTable(results.RecordList);
			return results.RecordList;
		})
		.then((recordslist) => {
			originalJsonData = [...recordslist];
			//console.log(originalJsonData);
		})
		.catch((err) => console.log(err))

		function filterDateToggle(obj) {
			if (obj.toggleFlag) {
				filterDate(obj.filterVar);
			} else {
				renderRecordsTable(originalJsonData);
			}
		}

		function filterByToggle(obj) {
			if (obj.toggleFlag) {
				filterTableByText(obj.filterVar);
			} else {
				renderRecordsTable(originalJsonData);
			}
		}

		let weekFilterBtn = new FilterButton(-7, "past-week");
		let monthFilterBtn = new FilterButton(-31, "past-month");
		let bikeFilterBtn = new FilterButton("Bike", "bike-filter");
		let runningFilterBtn = new FilterButton("Running", "running-filter");

		weekFilterBtn.buttonObj.addEventListener("click", () => {
			weekFilterBtn.changeToggleStyle();
			filterDateToggle(weekFilterBtn);
		});

		monthFilterBtn.buttonObj.addEventListener("click", () => {
			monthFilterBtn.changeToggleStyle();
			filterDateToggle(monthFilterBtn);
		});

		bikeFilterBtn.buttonObj.addEventListener("click", () => {
			bikeFilterBtn.changeToggleStyle();
			filterByToggle(bikeFilterBtn);
		});

		runningFilterBtn.buttonObj.addEventListener("click", () => {
			runningFilterBtn.changeToggleStyle();
			filterByToggle(runningFilterBtn);
		});		

	</script>

{{end}}