{{define "content"}}	
		<section>
			<div id="records" class="container-fluid-sm records">
				<div id="quick-filters">
					<button id="past-week" type="button" class="btn btn-outline-secondary btn-sm">Past 7 days</i></button>
					<button id="past-month" type="button" class="btn btn-outline-secondary btn-sm">Past month</i></button>
				</div>

				<!--
				<div id="filter-form" class="filter-form">
					<form>
						<div class="row g-1 align-items-end">
							<div class="col-6">
								<label for="date-startrange">From</label>
								<input type="date" id="date-startrange" class="form-control form-control-sm"/>
							</div>
							<div class="col-6">
								<label for="date-endrange">to</label>
								<input type="date" id="date-endrange" class="form-control form-control-sm"/>
							</div>
						</div>

						<div class="row g-1 align-items-end">
							<div class="col">
								<select id="completedby-filter" class="form-select form-select-sm">
									<option>Bike</option>
									<option>Running</option>
								</select>
							</div>
							<div class="col">
								<input class="btn btn-primary btn-sm" type="submit" value="Filter"/>
							</div>
						</div>
					</form>
				</div>
				-->
				<div id="table-headers" class="container-fluid-sm p-1">
					<div id="header-row" class="row px-2">
						<div class="col p-1">
							Date
						</div>
						<div class="col p-1">
							Time
						</div>
						<div class="col p-1">
							Distance
						</div>
						<div class="col-2 p-1">
							By
						</div>
					</div>
				</div>

				<div id="records-container" class="table-responsive">
					<table id="records-table" class="table table-sm table-striped records">
						<col style="width:26%">
						<col style="width:25%">
						<col style="width:24%">
						<col style="width:15%">
						<tbody>
							{{range .RecordList}}
							<tr>
								<td>{{.Date}}</td>
								<td>{{.Time}}</td>
								<td>{{.Distance}} {{.DistanceUnit}}</td>
								<td>{{.By}}</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	<script>
		"use strict";

		function findStartDate(date, days) {
			let endRange = new Date(Number(date));
			let startRange = endRange.setDate(date.getDate() - days);

			return startRange;
		}

		function convertToISODate(dateString) {
			let split_date = dateString.split("/");
			let dd = split_date[0];
			let mm = split_date[1];
			let yyyy = split_date[2];
			const isoDate = yyyy + "-"+ mm + "-"+ dd;

			return isoDate;
		}

		function filterDate(days) {
			var table, tr, td, i;

			var table = document.getElementById("records-table");
			var tr = table.getElementsByTagName("tr");

			const endRange = new Date(Date.now())
			const startRange = findStartDate(endRange, days)
		
			// Loop through all table rows, and hide those who don't match the search query
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if (td) {
					let dateValue = td.textContent || td.innerText;
					let convertedDate = new Date(convertToISODate(dateValue));

					if (convertedDate >= startRange && convertedDate <= endRange) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}

		function resetFilter(event) {
			var table, tr, td, i;

			table = document.getElementById("records-table");
			tr = table.getElementsByTagName("tr");
		
			// Loop through all table rows and display
			for (i = 0; i < tr.length; i++) {
					tr[i].style.display = "";
			}			
		}

		class FilterDateButton {
			constructor(days, buttonId) {
				this.days = days;
				this.buttonId = buttonId;
				this.toggleFlag = false;
				this.buttonObj = document.getElementById(buttonId);
				this.closeButton = ' <i class="bi bi-x" style="display: inline-block;"></i>';
			}
			
			toggleFilter() {
				const toggleFlag = () => {
					if (this.toggleFlag) {
						this.toggleFlag = false;
					} else {
						this.toggleFlag = true;
					}
					console.log(this.toggleFlag);
				}

				const toggleStyle = () => {
					if (this.toggleFlag) {
						this.className = "btn btn-secondary btn-sm";
					} else {
						this.className = "btn btn-outline-secondary btn-sm";
					}
				}

				const toggleClose = () => {
					if (this.toggleFlag) {
						let html = this.innerHTML;
						this.innerHTML = html + ' <i class="bi bi-x" style="display: inline-block;"></i>';
					} else {
						// remove icon by resetting with inner text
						this.innerHTML = this.innerText;
					}
				}

				toggleFlag();
				toggleStyle();
				toggleClose();

				if (this.toggleFlag) {
					filterDate(this.days);
				} else {
					resetFilter();
				}
			}
		}

		let weekFilterBtn = new FilterDateButton(7, "past-week");
		let monthFilterBtn = new FilterDateButton(31, "past-month");

		weekFilterBtn.buttonObj.addEventListener("click", weekFilterBtn.toggleFilter);
		monthFilterBtn.buttonObj.addEventListener("click", monthFilterBtn.toggleFilter);

		/*
		function filterTable() {
		  // Declare variables
		  var input, filter, table, tr, td, i, txtValue;
		  input = document.getElementById("myInput");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("myTable");
		  tr = table.getElementsByTagName("tr");
		
		  // Loop through all table rows, and hide those who don't match the search query
		  for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
			  txtValue = td.textContent || td.innerText;
			  if (txtValue.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			  } else {
				tr[i].style.display = "none";
			  }
			}
		  }
		}
		*/
	</script>

{{end}}